@model WebApp.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<h1>Product Details</h1>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>@Html.DisplayFor(model => model.Name)</h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Description)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>
                    
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Price)</dt>
                    <dd class="col-sm-8">@Model.Price.ToString("C")</dd>
                    
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Quantity)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Quantity)</dd>
                    
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.CreatedDate)</dt>
                    <dd class="col-sm-8">@Model.CreatedDate.ToString("MMMM dd, yyyy")</dd>
                </dl>
            </div>
            <div class="card-footer">
                <div class="btn-group" role="group">
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>